body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.gridList {
  display: flex;
  flex-wrap: wrap;
}

.scrollList {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pageLayout {
  padding: 25px;
  background-color: whitesmoke;
}
